{% extends 'base.html' %}

{% block content %}
<h1>Create Your Pizza</h1>
<form method="POST" action="{% url 'order' %}">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="id_size">Size</label>
        {{ form.size }}
    </div>
    
    <div class="mb-3">
        <label for="id_crust">Crust</label>
        {{ form.crust }}
    </div>
    
    <div class="mb-3">
        <label for="id_sauce">Sauce</label>
        {{ form.sauce }}
    </div>
    
    <div class="mb-3">
        <label for="id_cheese">Cheese</label>
        {{ form.cheese }}
    </div>

    <p>Choose additional toppings:</p>
    <div class="mb-3">
        <input type="checkbox" class="btn-check" id="btn-pepperoni" name="pepperoni" {% if form.pepperoni.value %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="btn-pepperoni">Pepperoni</label>

        <input type="checkbox" class="btn-check" id="btn-chicken" name="chicken" {% if form.chicken.value %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="btn-chicken">Chicken</label>

        <input type="checkbox" class="btn-check" id="btn-ham" name="ham" {% if form.ham.value %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="btn-ham">Ham</label>

        <input type="checkbox" class="btn-check" id="btn-pineapple" name="pineapple" {% if form.pineapple.value %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="btn-pineapple">Pineapple</label>

        <input type="checkbox" class="btn-check" id="btn-peppers" name="peppers" {% if form.peppers.value %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="btn-peppers">Peppers</label>

        <input type="checkbox" class="btn-check" id="btn-mushrooms" name="mushrooms" {% if form.mushrooms.value %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="btn-mushrooms">Mushrooms</label>

        <input type="checkbox" class="btn-check" id="btn-onions" name="onions" {% if form.onions.value %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="btn-onions">Onions</label>
    </div>

    <input type="submit" class="btn btn-primary" value="Order">
</form>
{% endblock %}
